@model List<CODE.Parceiro>

@{
	string mensagemErro;

	//GET ESTADOS
	List<SelectListItem> listaEstados = CODE.Uteis.RetornarEstadosComboCompleto();

	//GET LISTA TIPOS
	CODE.ParceiroBLL BLL = new CODE.ParceiroBLL();
	List<string> Tipos = BLL.getTiposParceiros(out mensagemErro);
	List<SelectListItem> listaTipos = new List<SelectListItem>();
	foreach (string item in Tipos)
	{
		listaTipos.Add(new SelectListItem()
		{
			Text = item,
			Value = item
		});
	}
}
<section id="main-content">
	<section class="content">
		<!--FILTRO-->
		<div class="panel">
			<header class="panel-heading">
				<h4 class="accordion-toggle" data-toggle="collapse" href="#divCollapseFiltro" aria-expanded="false">PARCEIROS</h4>
				<div class="top-nav">
					<button id="btnNovo" class="btn btn-primary" onclick="jsNovo();"><span aria-hidden="true" class="zmdi zmdi-file-plus"></span> &nbsp; NOVO</button>
					<button id="btnPesquisar" class="btn btn-primary" onclick="jsPesquisar();"><span aria-hidden="true" class="zmdi zmdi-search"></span> &nbsp; PESQUISAR</button>
				</div>
			</header>
			@using (Html.BeginForm("Consultar", "Parceiro", FormMethod.Post, new { @name = "formFiltros", @id = "formFiltros" }))
			{
				<div id="divCollapseFiltro" class="panel-collapse collapse show">
					<div class="panel-body">
						<div class="row">
							<div class="form-group form-group--float col-sm-6">
								<input type="text" class="form-control" name="txtDescricaoFiltro" id="txtDescricaoFiltro" />
								<label>Descrição</label>
								<i class="form-group__bar"></i>
							</div>
							<div class="form-group col-sm-6">
								<label>Tipo Parceiro</label>
								@Html.DropDownList("ddlTipoParceiroFiltro", listaTipos, "Selecione o tipo...", new { @class = "select2" })
								<i class="form-group__bar"></i>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-6">
								<label>Estado</label>
								@Html.DropDownList("ddlEstadoFiltro", listaEstados, "Selecione o Estado...", new { @class = "select2", @onchange = "return preencheDDLCidades(this.value, $('#ddlCidadeFiltro'));" })
								<i class="form-group__bar"></i>
							</div>
							<div class="form-group col-sm-6">
								<label>Cidade</label>
								@Html.DropDownList("ddlCidadeFiltro", new List<SelectListItem>(), "Todas as Cidades", new { @class = "select2" })
								<i class="form-group__bar"></i>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
		<br />
		<!--RESULTADO-->
		@if (Model != null)
		{
			<div class="panel">
				<header class="panel-heading">
					<h4 class="accordion-toggle" data-toggle="collapse" href="#divCollapseResultado" aria-expanded="false">RESULTADO</h4>
				</header>
				<div id="divCollapseResultado" class="panel-collapse collapse show">
					<div class="panel-body">
						<div class="table-responsive">
							<table id="data-table" class="table table-bordered table-striped">
								<thead class="thead-default">
									<tr>
										<th class="center">AÇÕES</th>
										<th class="center">CÓDIGO</th>
										<th class="center">NOME</th>
										<th class="center">ENDEREÇO</th>
										<th class="center">CIDADE - UF</th>
										<th class="center">TIPO</th>
									</tr>
								</thead>
								<tbody>
									@foreach (CODE.Parceiro parceiro in Model)
									{
										<tr>
											<td class="center">
												<a href="#" title="Editar" onclick="jsEditar(@Html.Raw(parceiro.Codigo))"><span aria-hidden="true" class="zmdi zmdi-border-color"></span></a>
												&nbsp;
												<a href="#" title="Excluir" onclick="jsExcluir(@Html.Raw(parceiro.Codigo))"><span aria-hidden="true" class="zmdi zmdi-delete"></span></a>
											</td>
											<td class="center">
												@parceiro.Codigo
											</td>
											<td class="center">
												@parceiro.Descricao
											</td>
											<td class="center">
												@parceiro.Endereco
											</td>
											<td class="center">
												@parceiro.Cidade.Descricao - @parceiro.Cidade.Estado
											</td>
											<td class="center">
												@parceiro.TipoParceiro
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		}
	</section>
</section>
<script type="text/javascript">

	$(document).ready(function () {
		if ($('#ddlEstadoFiltro').val() != "") {
			preencheDDLCidades($('#ddlEstadoFiltro').val(), $('#ddlCidadeFiltro'));
		}
	});

	function jsPesquisar() {
		jsLoading(true);

		document.getElementById('formFiltros').submit();
	}

	function jsEditar(codigoParceiro) {
		window.location.assign("@Url.Action("Edit", "Parceiro")?codigoParceiro=" + codigoParceiro);
	}

	function jsExcluir(codigoParceiro) {
		window.location.assign("@Url.Action("Delete", "Parceiro")?codigoParceiro=" + codigoParceiro);
	}

	function jsNovo() {
		window.location.assign("@Url.Action("Edit", "Parceiro")");
	}

</script>