@model List<CODE.Rota>

@{
	string mensagemErro;

	//GET ESTADOS
	List<SelectListItem> listaEstados = CODE.Uteis.RetornarEstadosComboCompleto();

	//GET INSTRUTORES
	List<CODE.Funcionario> agentesInstrutores = CODE.FuncionarioBLL.getFuncionarioByPerfil(10, out mensagemErro);
	List<SelectListItem> listaInstrutores = new List<SelectListItem>();
	foreach (CODE.Funcionario func in agentesInstrutores)
	{
		listaInstrutores.Add(new SelectListItem()
		{
			Text = func.Nome,
			Value = func.Codigo.ToString()
		});
	}
}

<section id="main-content">
	<section class="content">
		<!--FILTROS-->
		<div class="panel">
			<header class="panel-heading">
				<h4>RELATÓRIO DE ROTAS</h4>
				<div class="top-nav">
					<button id="btnPesquisar" class="btn btn-primary" onclick="jsPesquisar();"><span aria-hidden="true" class="zmdi zmdi-search"></span> &nbsp; PESQUISAR</button>
				</div>
			</header>
			<div class="panel-body">
				<form action="@Url.Action("ConsutarRotasInstrutor","Roteirizacao")" method="get" id="formSearch">
					<div class="row">
						<div class="form-group col-sm-3">
							<label>Código Rota</label>
							<input type="text" class="form-control" id="txtCodigoRotaFiltro" name="txtCodigoRotaFiltro" onkeypress="return jsSomenteNumero(arguments[0] || window.event);" />
							<i class="form-group__bar"></i>
						</div>
						<div class="form-group col-sm-3">
							<label>Instrutor</label>
							@Html.DropDownList("ddlInstrutorFiltro", listaInstrutores, "Selecione o Instrutor...", new { @class = "select2" })
							<i class="form-group__bar"></i>
						</div>
						<div class="form-group col-sm-3">
							<label>Estado</label>
							@Html.DropDownList("ddlEstadosFiltro", listaEstados, "Selecione o Estado...", new { @class = "select2", @onchange = "return preencheDDLCidades(this.value, $('#ddlCidadesFiltro'));" })
							<i class="form-group__bar"></i>
						</div>
						<div class="form-group col-sm-3">
							<label>Cidade</label>
							@Html.DropDownList("ddlCidadesFiltro", new List<SelectListItem>(), "Todas as Cidades", new { @class = "select2" })
							<i class="form-group__bar"></i>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<label>Data Inicio (Inicio Rota)</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
								<div class="form-group">
									<input type="text" id="dataInicioFiltro" name="dataInicioFiltro" class="form-control date-picker" />
									<i class="form-group__bar"></i>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<label>Data Final (Inicio Rota)</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
								<div class="form-group">
									<input type="text" id="dataFinalFiltro" name="dataFinalFiltro" class="form-control date-picker" />
									<i class="form-group__bar"></i>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<br />
		<!--RESULTADO-->
		@if (Model != null && Model.Count() > 0)
		{
			<div class="panel">
				<header class="panel-heading">
					<h4>RESULTADO</h4>
				</header>
				<div class="panel-body">
					<div class="table-responsive">
						<table id="data-table" class="table table-striped table-bordered table-hover">
							<thead class="thead-default">
								<tr>
									<th></th>
									<th>Rota</th>
									<th>Instrutor</th>
									<th>Data inicio</th>
									<th>Data fim</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								@foreach (CODE.Rota rota in Model)
								{
									<tr>
										<td class="center"><a href="#" title="Editar" onclick="jsEditar(@Html.Raw(rota.Codigo))"><span aria-hidden="true" class="zmdi zmdi-border-color"></span></a></td>
										<td>@rota.Codigo</td>
										<td>@rota.Instrutor.Nome</td>
										<td>@rota.DataInicio.ToShortDateString()</td>
										<td>@rota.DataFim.ToShortDateString()</td>
										<td>@rota._status</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		}
	</section>
</section>

<script type="text/javascript">

	function jsPesquisar()
	{
		$('#formSearch').submit();
	}

	function jsEditar(codigoRede) {
		window.location.assign("@Url.Action("NovaRota2", "Roteirizacao")/" + codigoRede);
	}

</script>